// This partial is responsible for setting the  media queries 

// 
// Mobile styles
// 
@include respond-to(mobile) {
  header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }

  // Hiding the nested ul as it  shown in the wireframe
  header ul li nav ul {
    display: none;
  }

  header ul li button{
      width: 130px;
      font-size: $Button-font-size;
  }
// dispalayig the container as grid of 1 column and 6 rows 
  main .Card-Container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 0px;
    margin-left: 15%;
    margin-top: 15%;
  }
  //  Cards layout 
  main .Card-Container .Card {
      width: 270px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  // Typography
  main .Card-Container .Card .Content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  main .Card-Container .Card .Content .txt h3 {
    font-size: $Movie-font-size;
  }
  main .Card-Container .Card .Content .txt p {
    font-size: $Movie-font-size;
  }
  main .Card-Container .Card .Content h3 {
    font-size:  $Movie-font-size;
  }
  main .Card-Container .Card .Content p {
    font-size: $Movie-font-size;
  }

  // button adjustments
  main .Card-Container .Card .Content button {
    font-size: $Movie-font-size;
    margin-top: auto;
  }


  main .Card-Container .Card .image img {
    width: 270px;
    height: 340px;
  }

  main .Card-Container .Card .Content {
    display: flex;
    flex-direction: column;
    padding: $Small-spacing;
  }
  }
  
// 
// Tablet styles
// 

@include respond-to(tablet) {
  // header adjustments
  header ul{
    padding-inline-start: 0px;
  }
  header ul li:first-child{
    font-size: $Header-Tablet-font-size;
}

header ul li nav ul li{
    font-size: $Button-font-size;
}
header ul li nav ul li:first-child{
    font-size: $Button-font-size;
}

header ul li button{
    font-size: $Button-font-size;
    width: 120px;
}

// Cards container adjustments
main .Card-Container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: $Large-tablet-spacing;
grid-row-gap: $Large-tablet-spacing;
}

//  Cards layout 
main .Card-Container .Card {
display: flex;
flex-direction: column;
width: 300px;
}
main .Card-Container .Card .Content {
display: flex;
flex-direction: column;
padding: $Small-spacing;
}
main .Card-Container .Card .image img {
width: 300px;
}
main .Card-Container .Card .Content {
display: flex;
flex-direction: column;
}


}


// Desktop styles
@include respond-to(desktop) {

  // header adjustments
  header ul li nav ul li{
    font-size: $Header-desktop-font-size;
  } 
  header ul li nav ul li:first-child{
    font-size: $Header-desktop-font-size;
  } 

  // Cards container adjustments
  .Card-Container {
    display: grid;
    grid-template-columns: auto auto;
    padding: $Large-desktop-spacing;
    gap: $Large-desktop-spacing;
  }

  // Forcing the 1st, 4th, 5th, 6th cards to take the full row  
  .item-1 {
    grid-column: 1/3;
  }
  .item-4 {
    grid-column: 1/3;
  }
  .item-5 {
    grid-column: 1/3;
  }
  .item-6 {
    grid-column: 1/3;
  }

  
// 1st card layout 
  main .Card-layout-1 {
    display: flex;
    flex-direction: column;
  }
  main .Card-Container .Card-layout-1 .image img {
    width: 850px;
    height: 370px;
  }
  main .Card-layout-1 .Content {
    display: flex;
    flex-direction: row;
    padding: $Small-spacing;
  }
  main .Card-layout-1 .Content button {
    margin-left: 80px;
    font-size: $Button-font-size;
    width: 200px;
  }

  //  2nd & 3rd cards layout 
  main  .Card-layout-2 {
    display: flex;
    flex-direction: column;
    width: 380px;
  }
  main .Card-layout-2 .image img {
    width: 380px;
    height: 200px;
  }
  main .Card-layout-2 .Content {
    display: flex;
    flex-direction: column;
    padding: $Small-spacing;
  }
  //  4th, 5th and 6th layout 
  main .Card-layout-3 {
    display: flex;
    flex-direction: row;
    height: 305px;
  }

  main .Card-layout-3 .image img {
    width: 400px;
    height: 305px;
  }
  main .Card-layout-3 .Content {
    display: flex;
    flex-direction: column;   
    padding: $Small-spacing;
  }

  // Button in the header adjustments 
  header ul li button {
    font-size: $Button-font-size;
    width: 320px;
    height: 115px;
  }
}

