// This partial is responsible for setting the variables  
// colors
$primary-dark: #231651;
$primary-light: #4dccbd;
$accent-yellow: #eef36a;
$white: #ffffff;
$black: #070410;


// Typography
$Header-mobile-font-size: 2em;
$Header-desktop-font-size: 3em;
$Header-Tablet-font-size: 3em;
$Button-font-size: 2em;
$Movie-font-size: 1.5em;


// Spacing
$Small-spacing: 16px;
$Large-mobile-spacing: 16px;
$Large-tablet-spacing: 32px;
$Large-desktop-spacing: 48px;
$Max-width: 900px;




